<h1 class="page-header">Login</h1>
<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <div class="login-panel panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Login venligst ind</h3>
      </div>
      <div class="panel-body">
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
          <strong>Fejl</strong> {{errorMessage}}
        </div>
        <form role="form">
          <fieldset>
            <!--{{diagnostic}}-->
            <div class="form-group">
              <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus required
                     autocomplete="off"
                     [(ngModel)]="model.email">
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="Password" name="password" type="password" value=""
                     autocomplete="off"
                     [(ngModel)]="model.password">
            </div>
            <!--<div class="checkbox">
              <label>
                <input name="remember" type="checkbox" value="Remember Me">Remember Me
              </label>
            </div>-->

            <button class="btn btn-lg btn-success btn-block" (click)="submit()">Login</button> <!--[disabled]="isSubmitted"-->
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="login-panel panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Login med en anden service</h3>
      </div>
      <div class="panel-body">
        <login-google></login-google>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-sm-offset-5">
    <div class="panel panel-default">
      <div class="panel-heading">Fejl h&aring;ndtering</div>
      <div class="panel-body">
        <button class="btn btn-danger" onclick="console.log('error after this'); throw new Error('this is a control error');">
          Send en fejl (udenfor Angular)
        </button>
      </div>
    </div>
  </div>
</div>