<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">Lektiecafé</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="isLoggedIn() && (isTeacher() || isStudent())">
        <a routerLink="/lesson">{{isStudent() ? 'Elev' : 'Lærer'}}</a>
      </li>
      <li routerLinkActive="active" *ngIf="isLoggedIn() && isAdmin()">
        <a routerLink="/lesson/admin">Administrator</a>
      </li>
      <!--<li>
        <a (click)="addToast()" style="cursor:pointer;">Notification test</a>
      </li>-->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active" *ngIf="!isLoggedIn()">
        <a routerLink="/login"><span class="fa fa-sign-in"></span> Login</a>
      </li>
      <li *ngIf="isLoggedIn()">
        <a (click)="logOut()"><span class="fa fa-sign-out"></span> Logout</a>
      </li>
    </ul>
  </div>

</nav>