<table class="table table-striped">
    <thead>
        <tr>
            <th>Dag <i class="fa fa-calendar" aria-hidden="true"></i></th>                      
            <th>Lærere <i class="fa fa-user" aria-hidden="true"></i></th>
            <th>Start <i class="fa fa-clock-o" aria-hidden="true"></i></th>
            <th>Slut <i class="fa fa-clock-o" aria-hidden="true"></i></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tbody>
</table>