<div [config]="{ show: true }" (onHidden)="onHidden()"
     bsModal #addModal="bs-modal" class="modal fade"
     tabindex="-1" role="dialog" aria-hidden="true"> <!--*ngIf="isModalShown"-->
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <form [formGroup]="lessonForm" (ngSubmit)="submit()" novalidate>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Opret ny lektiecafé</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--<p>Form value: {{ lessonForm.value | json }}</p>
          <p>Form status: {{ lessonForm.status | json }}</p>-->
          <div class="form">
            <div class="row">
              <div class="form-group col-md-4"
                   [class.has-error]="formErrors.date">
                <label class="control-label" for="date">Dato</label>
                <div class="input-group clickCursor dateInputGroup"
                     #datePickerPopup="bs-popover"
                     [popover]="datePickerTemplate"
                     placement="bottom">
                  <span class="form-control" [class.focus]="datePickerPopup.isOpen">{{ lessonForm.controls['date'].value | amDateFormat: 'L'}}</span>
                  <!--<input class="form-control" id="date" name="date" type="text"
                  [(ngModel)]="model.date" readonly>-->
                  <span class="input-group-addon">
                    <span class="fa fa-calendar" aria-hidden="true"></span>
                  </span>
                </div>
                <div *ngIf="formErrors.date" class="alert alert-danger">
                  {{ formErrors.date }}
                </div>
                <ng-template #datePickerTemplate>
                  <datepicker formControlName="date" [showWeeks]="true" [startingDay]="1"></datepicker>
                </ng-template>
              </div>
              <div class="form-group col-md-4 col-sm-6"
                   [class.has-error]="formErrors.startTime">
                <label class="control-label" for="startTime">Start Tidspunkt</label>
                <timepicker formControlName="startTime" [showMeridian]="false"></timepicker>
                <!--<input class="form-control" id="startTime" name="startTime" type="time">-->
                <div *ngIf="formErrors.startTime" class="alert alert-danger">
                  {{ formErrors.startTime }}
                </div>
              </div>
              <div class="form-group col-md-4 col-sm-6"
                   [class.has-error]="formErrors.endTime">
                <label class="control-label" for="endTime">Slut Tidspunkt</label>
                <timepicker formControlName="endTime" [showMeridian]="false"></timepicker> <!--[(ngModel)]="model.endTime"-->
                <!--<input class="form-control" id="startTime" name="startTime" type="time">-->
                <div *ngIf="formErrors.endTime" class="alert alert-danger">
                  {{ formErrors.endTime }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6"
                   [class.has-error]="formErrors.schoolClassNames">
                <label class="control-label" for="schoolClass">Klasse</label>
                <!--<input class="form-control" id="schoolClass" name="schoolClass" type="text"
                       formControlName="schoolClassName">-->
                <ss-multiselect-dropdown [options]="schoolClassHelper.options" [texts]="schoolClassHelper.texts" [settings]="schoolClassHelper.settings" id="schoolClass" formControlName="schoolClassNames"></ss-multiselect-dropdown>
                <div *ngIf="formErrors.schoolClassNames" class="alert alert-danger">
                  {{ formErrors.schoolClassNames }}
                </div>
              </div>
              <div class="form-group col-md-6"
                   [class.has-error]="formErrors.teachers">
                <label class="control-label" for="teacher">Lærere</label>

                <ss-multiselect-dropdown [options]="teachersHelper.options" [texts]="teachersHelper.texts" [settings]="teachersHelper.settings" id="teacher" formControlName="teachers"></ss-multiselect-dropdown>
                <!--<input class="form-control" id="teacher" name="teacher" type="text"
           formControlName="teachers">-->
                <div *ngIf="formErrors.teachers" class="alert alert-danger">
                  {{ formErrors.teachers }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="hideModal()">Annuller</button>
          <button type="button" class="btn btn-success" (click)="submit()">Opret</button>
        </div>
      </form>
    </div>
  </div>
</div>