<h1>
  Planlagte Lektiécafer
  <button type="button" class="btn btn-primary btnCreate" (click)="openAddModal()">Opret ny</button>
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Dag</th>
      <th>Klasser</th>
      <th>Lærere</th>
      <th>Start</th>
      <th>Slut</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let l of getAll()">
      <td>{{l.startTime | amDateFormat:'dddd DD/MM'}}</td>
      <td>{{getSchoolClassNames(l)}}</td>
      <td>
        <ul class="list-inline teachersList">
          <li *ngFor="let teacher of l.teachers">
            <img [src]="teacher.imageUrl" [title]="teacher.name" />
          </li>
        </ul>   
      </td>
      <td>{{l.startTime | amDateFormat:'LT'}}</td>
      <td>{{l.endTime | amDateFormat:'LT'}}</td>
      <td>
        <button class="btn btn-success btn-xs btnEdit" role="button">Rediger</button> |
        <button class="btn btn-info btn-xs btnDetails" role="button">Detaljer</button> |
        <button class="btn btn-danger btn-xs btnDelete" role="button" (click)="openDeleteModal(l)">Slet</button>
      </td>
    </tr>
  </tbody>
</table>



<!--<lesson-admin-add-modal></lesson-admin-add-modal>-->

<!--
  startTime: Date;
  endTime: Date;
  teachers: Teacher[];
  schoolClass: SchoolClass;
-->