<div class="container-fluid">
    <h1>Lektiecafe den 13 maj 2017</h1>

    <div class="row">
        <div class="col-md-12">
            <p>L&aelig;rere: Ditte, Hans</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Tidspunkt: 13:00 - 15:00</p>
        </div>
    </div>

    <h1>Elevens oplysninger</h1>
    <div class="row">
        <div class="col-md-12">
            <p>Elevens Navn: Anne Larsen</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Klasse: klasse1</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Emne: emne1</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-default" type="button">Redigere emne</button>
        </div>

        <div class="col-md-6">
            <button class="btn btn-default" type="button">Check ud af lektiecafe</button>
        </div>
    </div>

</div>

