<div class="container-fluid">
    <h1>Check-ind for elever i lektiecafe</h1>

    <div class="row">
        <div class="col-md-12">
            <p>L&aelig;rere: Ditte, Hans</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Tidspunkt: 13:00 - 15:00</p>
        </div>
    </div>

    <h1>Elevens oplysninger</h1>
    <div class="row">
        <div class="col-md-12">
            <p>Elevens Navn: Anne Larsen</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Klasse: klasse1</p>
        </div>
    </div>

    <h1>Emne</h1>
    <p>Skriv dit emne</p>
    <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Check-ind i lektiecafe</button>
        </span>
    </div>
</div>
