<div [config]="{ show: true }" (onHidden)="onHidden()"
     bsModal #detailsModal="bs-modal" class="modal fade"
     tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Detajler for Lektiecafé</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-12">
                <label>
                  Dato <i class="fa fa-calendar" aria-hidden="true"></i>
                </label>
              </div>
              <div class="col-sm-12">
                {{item?.startTime | amDateFormat:"dddd [d.] LL"}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <label>Periode <i class="fa fa-clock-o" aria-hidden="true"></i></label>
              </div>
              <div class="col-sm-12">
                kl. {{item?.startTime | amDateFormat:"LT"}}
                til {{item?.endTime | amDateFormat:'LT'}}
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-12">
                <label>Lærere <i class="fa fa-user" aria-hidden="true"></i></label>
              </div>
              <div class="col-sm-12">
                <ul class="list-unstyled teachersList">
                  <li *ngFor="let teacher of item?.teachers">
                    <img [src]="teacher.imageUrl" [title]="teacher.name" />
                    {{teacher.name}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-12">
                <label>Klasser <i class="fa fa-users" aria-hidden="true"></i></label>
              </div>
              <div class="col-sm-12">
                <ul class="list-unstyled">
                  <li *ngFor="let schoolClass of item?.schoolClasses">
                    {{schoolClass.name}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default studentPanel">
          <div class="panel-heading">Elever</div>
          <div class="panel-body">
            <table class="table table-striped table-bordered" *ngIf="item.meetUps.length; else noStudentsTemplate">
              <thead>
                <tr>
                  <th class="text-center"><i class="fa fa-user-circle-o" aria-hidden="true"></i></th>
                  <th class="nameCol">Navn</th>
                  <th class="text-center checkInCol">Tjek Ind <i class="fa fa-sign-in" aria-hidden="true"></i></th>
                  <th class="text-center checkOutCol">Tjek Ud <i class="fa fa-sign-out" aria-hidden="true"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let m of item.meetUps">
                  <td>
                    <img [src]="m.student.imageUrl" [title]="m.student.name" />
                  </td>
                  <td class="nameCol">{{m.student.name}}</td>
                  <td class="text-center checkInCol" [class.verticalMiddle]="!m.checkIn">
                    <span *ngIf="m.checkIn; else checkInTemplate" (click)="removeChecked(m, true)">
                      {{m.checkIn | amDateFormat:'LT'}}
                    </span>
                    <ng-template #checkInTemplate>
                      <button class="btn btn-success" (click)="checkClicked(m, true)">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                      </button>
                    </ng-template>
                  </td>
                  <td class="text-center checkOutCol" [class.verticalMiddle]="m.checkIn && !m.checkOut">
                    <span *ngIf="m.checkOut; else checkOutTemplate" (click)="removeChecked(m, false)">
                      {{m.checkOut | amDateFormat:'LT'}}
                    </span>
                    <ng-template #checkOutTemplate>
                      <button class="btn btn-danger" *ngIf="m.checkIn" (click)="checkClicked(m, false)">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                      </button>
                    </ng-template>
                  </td>
                </tr>
              </tbody>
            </table>
            <ng-template #noStudentsTemplate>
              
                    <p class="noStudents">Der er ingen elever tilknyttet lektiecaféen</p>
                  
            </ng-template>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="hideModal()">Luk</button>
      </div>
    </div>
  </div>
</div>